# Directories
.*/
arduino/
Android*Open*Source*Project/
Thunar/
Element/
Electron/
dconf/
composer/
unity3d/
discord/
flutter/
alacritty/
pulse/
libreoffice/
spotify/
systemd/
vlc/
obs-studio/
xfce4/
xsettingsd/
nwg-look/
yay/
bluetuith/
chromium/
google-chrome/*
go/
StardewValley/
tmux/plugins/
skypeforlinux/
QtProject.conf
configstore/
zen/
cava/shaders/
GIMP/
nextjs-nodejs/
aseprite/
autostart/
filezilla/
fish/
freerdp/
godot/
inkscape/
kdeconnect/
openvpn/
quickshell/
remmina/

# Files
*.dirs
*.locale
*.log
*.list
google-chrome/themes/*/*.pak
spotify-launcher.conf
kitty/unicode-input-favorites.conf

#symlinks
nvim

# Whitelist
!google-chrome/themes


