# Directories
Android*Open*Source*Project/
Thunar/
Electron/
dconf/
composer/
unity3d/
discord/
flutter/
alacritty/
nvim/
pulse/
libreoffice/
spotify/
systemd/
vlc/
obs-studio/
xfce4/
xsettingsd/
nwg-look/
yay/
bluetuith/
chromium/
google-chrome/
go/
StardewValley/
tmux/plugins/
skypeforlinux/
QtProject.conf
zen/

# Files
*.dirs
*.locale
*.log
*.list
spotify-launcher.conf
kitty/unicode-input-favorites.conf

