# Directories
.*/
freerdp/
session/
kdeconnect/
filezilla/
lazysql/
autostart/
arduino/
Android*Open*Source*Project/
Thunar/
Element/
Electron/
dconf/
composer/
unity3d/
discord/
flutter/
alacritty/
pulse/
libreoffice/
spotify/
systemd/
vlc/
obs-studio/
xfce4/
xsettingsd/
nwg-look/
yay/
bluetuith/
chromium/
google-chrome/*
go/
StardewValley/
tmux/plugins/
skypeforlinux/
QtProject.conf
configstore/
zen/
cava/shaders/
GIMP/
nextjs-nodejs/
Postman/
openvpn/
remmina/
Sqlectron/
sqlectron/
godot/
qalculate/
aseprite/
fish/functions/
fish/conf.d/
fish/themes/
fish/completions/

# Files
*.dirs
*.locale
*.log
*.list
fish/fish_variables
google-chrome/themes/*/*.pak
spotify-launcher.conf
kitty/unicode-input-favorites.conf

#symlinks
nvim

# Whitelist
!google-chrome/themes


