@import "./rose-pine.css";

* {
  border: none;
  border-radius: 0;
  font-weight: bold;
  font-size: 1rem;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: @text;
}

tooltip {
  background: black;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: @pine;
}

#workspaces button {
  padding: 5px;
  color: @highlightMed;
  margin-right: 5px;
}

#workspaces button.active {
  color: @rose;
}

#workspaces button.focused {
  color: @subtle;
  background: @love;
  border-radius: 10px;
}

/* https://google.com */
#workspaces button.urgent {
  color: black;
  background: @rose;
  border-radius: 8px;
}

#workspaces button:hover {
  background: @surface;
  color: @rose;
  border-radius: 8px;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#cpu,
#disk,
#backlight {
  font-family: "JetBrainsMono NL ExtraBold";
  background: black;
  padding: 0px 5px;
  /* margin: 3px 0px; */
  margin-top: 10px;
  /*border: 2px solid black;*/
  border: 2px solid @pine;
}

#cpu {
  color: @foam;
  border-left: 0px;
  border-right: 0px;
}

#memory {
  color: @pine;
  border-left: 0px;
  border-right: 0px;
}

#temperature {
  color: @gold;
  border-left: 0px;
  border-right: 0px;
}

#temperature.critical {
  border-left: 0px;
  border-right: 0px;
  color: @love;
}

#pulseaudio {
  color: @iris;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  margin-right: 0px;
  padding-right: 0px;
}

#backlight {
  color: @text;
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  margin-right: 15px;
  padding-left: 0px;
  margin-left: 0px;
  font-family: "JetBrainsMono NL ExtraBold Mono";
}

#tray {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 0px;
}

#workspaces {
  background: black;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-power_profile {
  color: @foam;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "0xProto Nerd Font";
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#custom-arch{
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 10px 0 0 10px;
  /* 
   * border-radius: 10px; 
   * padding-right: 10px;
   * */
  color: @foam;
  padding-left:  14px;
  background: black;
  border: 2px solid @pine;
  border-right: 0px;
  margin-right: 0px;
  font-family: "0xProto Nerd Font";
}

#clock {
  /* 
   * color: @text; 
   * */
  border-radius: 0 10px 10px 0;
  color: @text;
  padding-left: 5px;
  padding-right: 10px;
  background: black;
  /* 
   * border-radius: 10px;
   * margin-left: 9px;
   * */
  border: 2px solid @pine;
  border-left: 0px;
}

#network {
  color: @love;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  padding-left: 10px;
  margin-left: 10px;
}


#battery {
  color: @rose;
  padding-right: 10px;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}

#disk {
  color: @foam;
  border-left: 0px;
  border-right: 0px;
}

#keyboard-state {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: 0px;
  background: transparent;
}

#keyboard-state label.capslock.locked{
  background: black;
  margin-top: 10px;
  border: 2px solid @pine;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "0xProto Nerd Font";
  margin-right: 10px;
  border-radius: 10px;
  color: @text;
}

#custom-spotify {
  margin-top: 10px;
  border-radius: 10px;
  color: @foam;
  background: black;
  padding-left:  10px;
  padding-right: 10px;
  border: 2px solid @pine;
  font-family: "0xProto Nerd Font";
}
