window {
    margin: 0px;
    background-color: black;
    border-radius: 0px;
    border: 2px solid #524f67;
    color: #e0def4;
    font-family: "0xProto";
    font-size: 20px;
    border-radius: 8px;
}

#input {
    margin: 5px;
    border: 2px solid #31748f;
    border-radius: 8px;
    color: #ebbcba;
    background-color: #191724;
    opacity: 1; 
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: black;
    color: #232136;
    border-radius: 0px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: black;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
}

#entry:selected {
    background-color: #403d52;
    opacity: 1;
    color: #e0def4;
    border-radius: 8px;;
    font-weight: bold;
    outline: none;
}

#entry:selected * {
    background-color: #403d52;
    opacity: 1;
    color: #e0def4;
    border-radius: 8px;;
    outline: none;
}
